AAP_EE_IMAGE="{{ ee_image }}"
AAP_EE_AUTHFILE="{{ ee_pull_authfile }}"
AAP_INVENTORY_HOST={{ ansible_host }}
AAP_PLAYBOOKS={{ ",".join(ansible_pull_playbooks) }}
ANSIBLE_VAULT_PASSWORD_FILE={{ ansible_vault_password_path }}
ANSIBLE_PULL_EXTRA_ARGS="{{ ansible_pull_extra_args }}"
ANSIBLE_PULL_REPO="{{ ansible_pull_repo }}"
ANSIBLE_PULL_CHECKOUT="{{ ansible_pull_checkout }}"
ANSIBLE_PULL_PATH_REPO="{{ ansible_pull_path_repo }}"
