[Unit]
Description=Ansible configuration via ansible-pull inside an EE
Requires=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service

[Service]
Type=oneshot
EnvironmentFile=/etc/systemd/system/ansible-pull.env
ExecStart=/usr/local/bin/ansible-pull.sh

[Install]
WantedBy=default.target
