---
ansible-navigator:
  execution-environment:
    enabled: true
    image: {{ ee_image }}
    volume-mounts:
    - src: "{{ ansible_navigator_vault_password_path }}"
      dest: "{{ ansible_navigator_vault_password_path }}"
    container-options:
    - --privileged
    - --security-opt=label=disable
    - --net=host
    pull:
      arguments:
      - --authfile={{ ee_pull_authfile }}
      policy: always
  mode: stdout
  playbook-artifact:
    enable: false
