ANSIBLE_NAVIGATOR_CONFIG={{ ansible_navigator_config_path }}
ANSIBLE_VAULT_PASSWORD_FILE={{ ansible_navigator_vault_password_path }}
AAP_INVENTORY_HOST={{ ansible_host }}
AAP_PLAYBOOKS={{ ",".join(ansible_pull_playbooks) }}
