---
ansible-navigator:
  execution-environment:
    enabled: true
    image: {{ ee_image }}
    volume-mounts:
    - src: "{{ config_setup_dir }}"
      dest: "{{ config_setup_dir }}"
    environment-variables:
      pass:
      - ANSIBLE_VAULT_PASSWORD_FILE
    container-options:
    - --privileged
    - --security-opt=label=disable
    pull:
      arguments:
      - --authfile={{ ee_pull_authfile }}
      policy: always
  mode: stdout
  playbook-artifact:
    enable: false
